/* Features shared by all odd-numbered elements */
.odd-number {
    background-color:#f08080;
    color: #000000;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

/* Larger text for the THIRD element */
.larger-text {
    font-size: 24px;
}

/* Even-numbered elements share the same font */
.even-number {
    font-family: "Ubuntu", sans-serif;
}


/* Each even-numbered element has specific properties and values */
/* Style SECOND element */
#second {
    color: #0000ff;
    font-size: 36px;
}

/* Style FOURTH element */
#fourth {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: 700;
}